## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [3]:
movie_data = pd.read_csv('ratings.csv')
movie_data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
movie_data[movie_data['rating'] == 5]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [11]:
power_data = pd.read_csv('power.csv')
power_data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [16]:
power_data[power_data['country'].str.contains('E', case=True)]['country'].unique()

array(['Eritrea', 'Ethiopia', 'United Arab Emirates', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia, incl. Eritrea',
       'Equatorial Guinea', 'Bonaire, St Eustatius, Saba'], dtype=object)

In [18]:
filtered_countries = power_data[(power_data['country'] == 'Latvia') | (power_data['country'] == 'Lithuania') | (power_data['country'] == 'Estonia')]
filtered_countries['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia'], dtype=object)

In [33]:
fully_filtered_data = filtered_countries[((filtered_countries['category'] == 4) | (filtered_countries['category'] == 12) | (filtered_countries['category'] == 21)) & (filtered_countries['year'] >= 2005) & (filtered_countries['year'] <= 2010) & (filtered_countries['quantity'] > 0)][['country', 'quantity']]

In [34]:
fully_filtered_data.head()

         country  quantity
10617    Estonia       1.0
10620    Estonia       1.0
11156  Lithuania       1.0
11158  Lithuania       1.0
11159  Lithuania       1.0

In [35]:
fully_filtered_data.groupby('country').sum()

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [41]:
html_data = pd.read_html('https://fortrader.org/quotes')
html_data[0]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,EURRUB Курс евро к рублю сегодня,85.5514,-2.0440,-2.3335,NaN
1,USDRUB Курс рубля к доллару,78.0952,-1.4057,-1.7682,NaN