In [2]:
import pandas as pd

## Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [12]:
def get_classification_for_movie(rating):
    if rating >= 4.5:
        return 'высокий рейтинг'
    elif rating > 2:
        return 'средний рейтинг'
    else:
        return 'низкий рейтинг'

In [16]:
rating_data = pd.read_csv('ratings.csv')
filtered_ratings = rating_data.groupby('movieId').mean().filter(['movieId', 'rating'])
filtered_ratings['classification'] = filtered_ratings['rating'].apply(get_classification_for_movie)
filtered_ratings.sort_values(by=['rating'], ascending=False).head()

         rating   classification
movieId
163949      5.0  высокий рейтинг
71180       5.0  высокий рейтинг
51471       5.0  высокий рейтинг
52617       5.0  высокий рейтинг
53887       5.0  высокий рейтинг

## Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [19]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [24]:
keywords_data = pd.read_csv('keywords.csv')
keywords_data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [29]:
def check_region(key_frase):
    key_words_list = key_frase.split(' ')
    for word in key_words_list:
        for key in geo_data:
            if word.lower() in geo_data[key]:
                return key
    return 'undefined'

In [30]:
keywords_data['region'] = keywords_data['keyword'].apply(check_region)
keywords_data.sort_values(by='region', ascending=False).head()

                                                 keyword  shows region
79598                                 метро схема москва  62915  Центр
94442                               скорый москва россия   3866  Центр
46003                              гей знакомства москва   8436  Центр
81512                                   локомотив москва   4395  Центр
71891  москва слезам не верит смотреть бесплатно в хо...   5167  Центр

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга